/* ===== Container ===== */
.container {
  width: 620px;
  position: relative;
  transform: translateX(-90%);
  background: white;
  padding: 32px;
  border-radius: 20px;
  box-shadow:
    0 10px 25px rgba(0,0,0,0.15),
    0 2px 6px rgba(0,0,0,0.08);

  transition: 0.3s;
}

.title {
  text-align: center;
  margin-bottom: 25px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

/* ===== Input ===== */
.input-section {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.input-section input {
  flex: 1;
  padding: 12px 14px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 14px;
  transition: 0.2s;
}

.input-section input:focus {
  outline: none;
  border-color: #4caf50;
  box-shadow: 0 0 0 3px rgba(76,175,80,0.15);
}

/* ===== Buttons ===== */
button {
  padding: 10px 14px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  transition: 0.2s;
}

button:hover {
  transform: translateY(-1px);
}

.input-section button {
  background: #4caf50;
  color: white;
}

.delete-btn {
  background: #ff5252;
  color: rgb(176, 9, 9);
}

.actions button {
  background: #e0e0e0;
}

/* ===== List ===== */
.todo-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* ===== Item ===== */
.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 12px 14px;
  border-radius: 12px;
  background: #f7f7f7;

  transition: 0.2s;
}

.todo-item:hover {
  background: #eeeeee;
  transform: translateY(-2px);
}

/* left */
.todo-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* text */
.done {
  text-decoration: line-through;
  opacity: 0.5;
}

/* edit */
.edit-input {
  padding: 6px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

/* ===== Counter ===== */
.counter {
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
  opacity: 0.7;
}

/* ===== Empty ===== */
.empty {
  text-align: center;
  padding: 20px;
  opacity: 0.5;
}

/* ===== Modal ===== */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.35);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px);
}

.modal {
  background: white;
  padding: 24px;
  border-radius: 16px;
  width: 260px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.25);
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
}

.danger {
  background: #ff5252;
  color: white;
}
