
:root {
  --bg: #ffffff;
  --text: #222;
  --card: #f7f7f7;
  --border: #ddd;
  --primary: #4caf50;
}

body[data-theme="dark"] {
  --bg: #1e1f24;
  --text: #f1f1f1;
  --card: #2a2b30;
  --border: #3a3b40;
  --primary: #66bb6a;
}

/* container */

.container {
  width: 720px;
  background: var(--bg);
  color: var(--text);

  padding: 28px;
  border-radius: 20px;

  box-shadow: 0 12px 30px rgba(0,0,0,0.25);
  transition: 0.3s;
}

/* top bar */

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.theme-btn {
  font-size: 25px;
  background: none;
}

/* input */

.input-section {
  display: flex;
  gap: 10px;
  margin: 20px 0px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  border: 3px solid var(--border);
  background: var(--bg);
  color: var(--text);
  font-size: 16px;
}

/* filter */

.filters {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
}

.filters button {
  background: var(--card);
  padding: 6px 10px;
  border-radius: 8px;
  font-size: 14px;
  border: 2px solid var(--border);
}

.filters .active {
  background: var(--primary);
  color: white;
}

/* list */

.todo-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* item */

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: var(--card);
  padding: 10px 14px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.4);
  border: solid 1px var(--border);
  transition: 0.2s;
}

.todo-item:hover {
  transform: translateY(-2px);
}

/* animation */
.fade-in {
  animation: fadeSlide 1.5s ease;
}

@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.done {
  text-decoration: line-through;
  opacity: 0.5;
}

/* button */

button {
  cursor: pointer;
  border: none;
  border-radius: 8px;
  padding: 7px 10px;
  transition: 0.2s;
  background: #dce78d;
  margin: 0 2px;
  font-size: 14px;
}

button:hover {
  transform: translateY(-1px);
}

.delete-btn {
  background: #ff5252;
  color: white;
}

/* modal */

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.45);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: var(--bg);
  color: var(--text);
  padding: 20px;
  border-radius: 12px;
}

/*counter */

.counter {
  text-align: center;
  margin-top: 15px;
  opacity: 0.7;
}

.text-block {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.time {
  font-size: 12px;
  opacity: 0.6;
}